  :root {
    --primary-text-color: #757575;
    --titel-color: #212121;
        }
  
  body { background-color: #FFFFFF;
}

.page {
    color: var(--primary-text-color)};


/* 
цвет основного заголовка #FFFFFF;
цвет h2 #212121;
цвет  h3 #757575;
вторичный цвет фона  #F5F4FA;
первичный цвет фона#E5E5E5;
цвет фона в начале #2F303A;
*/
.list {
    list-style: none;
}

/* site-nav  */
.site-nav .link {
    color: var(--titel-color);
}
.site-nav .link:hover,
.site-nav:focus {
    color: #2196F3;
}
/* hero */
.hero-titel {
    color: var(--titel-color);
}
/* section */
.section-titel {
    color: var(--titel-color);
}
/* text */
/* .business-text, */
/* .emp-text { */
/* footer */
.adress-main {
    color: #FFFFFF;
    }
 .adress-main:hover,
 .adress-main:focus {
    color: #2196F3;
 }
    
.adress-mail,
.adress-number {
    color: rgba(255, 255, 255, 0.6);
}
