body {color: #757575;
background-color: #E5E5E5;}

ul {list-style: none;}


/* цвет основного текста #212121*/
/* цвет вторичного текста #757575*/
/* акцент #2196F3 */
 /* цвет фона первичный #E5E5E5 */
 /* цвет фона вторичный #F5F4FA*/

.logo span { color: #2196F3;}
.logo {color: #000000;}
/* site-nav */
.site-nav .link { color: #212121;}
.site-nav .link:hover,
.site-nav .link:focus
 { color:#2196F3;}
 /* address */
.address .mail:hover,
.address .mail:focus,
 { color: #2196F3;}
 /* section */
 .section-titel {
    color: #212121;
 }


































/* buttons */
:active :focus{

}